<h1>Contacts</h1>
<div>
<p>
<a href="/contacts/new">Add contact</a>
</p>
</div>
<div>
<p>
<form action="/contacts/search" method="POST">
	<input type="text" name="contact[name]" id="contact_name" placeholder="Search Contact">

  	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  	<button type="submit">Seach</button>
</form>
</p>
</div>
<div>
<p>
<ul>
	<% @contacts.each do |c| %>
		<li>
			<% if c.favorite %>
				<a href="/contacts/info/<%= c.id %>"><font color="red"><%= c.name %></font></a>
			<% else %>
				<a href="/contacts/info/<%= c.id %>"><%= c.name %></a>
			<% end %>
		</li>
	<% end %>
</ul>
</p>
</div>
<div>
<p>Find me in app/views/contacts/index.html.erb</p>
</div>