<% if @contact.favorite %>
	<h1><font color="red">Name: <strong><%= @contact.name %></strong></font></h1>
	<a href="/contacts/favorite/delete/<%= @contact.id %>">Delete from Favorites</a>
<% else %>
	<h1>Name: <strong><%= @contact.name %></strong></h1>
	<a href="/contacts/favorite/add/<%= @contact.id %>">Add to Favorites</a>
<% end %>
<h2>Address: <strong><%= @contact.address %></strong></h2>
<h2>Phone Number: <strong><%= @contact.phone %></strong></h2>
<h2>Email: <strong><%= @contact.email %></strong></h2>
<a href="/contacts">Back to contacts</a>

