<% if @bid.errors.any? %>
	<ul>
		<% @bid.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>
<%= form_for [@bid] do |f| %>
	<%= f.label :amount %>
	<%= f.number_field :amount %>
	<br>
	<%= f.label :email %>
	<%= email_field_tag(:email, params[:email]) %>
	<br>
	<%= f.submit 'Bid!' %>
<% end %>
<%= link_to('Back to product', product_path) %>