<% if @bid.errors.any? %>
	<ul>
		<% @bid.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>
<%= form_for [@bid] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>
	<%= f.label :deadline %>
	<%= f.date_field :deadline %>
	<br>
	<%= f.label :min_bid_amount %>
	<%= f.number_field :min_bid_amount %>
	<br>
	<%= f.label :email %>
	<%= email_field_tag(:email, params[:email]) %>
	<br>
	<%= f.submit 'Bid!' %>
<% end %>
<%= link_to('Back to products', products_path) %>