<h1><%= @product.title %></h1>
<br>
<h4><%= @product.description %></h4>
<br>
<h4><%= @product.deadline %></h4>
<br>
<ul>
	Bids:
	<% @bids.each do |bid| %>
		<li>
			<%= bid.amount %>
		</li>
	<% end %>
</ul>
<ul>
	Reviews:
	<% @reviews.each do |review| %>
		<li>
			<%= review.description %>
		</li>
	<% end %>
</ul>
<%= form_for [@product, @review] do |r| %>
	<%= r.label :description %>
	<%= r.text_field :description %>
	<br>
	<%= r.submit 'Add review!' %>
<% end %>
<%= link_to('Bid for it!', new_product_bid_path(@product)) %>
<br>
<%= link_to('User', user_path(@product.user_id)) %>
<br>
<%= link_to('Back to products', products_path) %>