<h1><%= @product.title %></h1>
<br>
<h4><%= @product.description %></h4>
<br>
<h4><%= @product.deadline %></h4>
<br>
<ul>
	<% @bids.each do |bid| %>
		<li>
			Amount: 
			<%= bid.amount %>
		</li>
	<% end %>
</ul>
</ul>
<%= link_to('Bid for it!', new_product_bid_path(@product)) %>
<br>
<%= link_to('User', user_path(@product.user_id)) %>
<br>
<%= link_to("Back to user's products", products_path) %>